<div *ngIf="!hasGivenConsent" class="cookie-container" role="complementary" aria-labelledby="cookie-message-heading"
    aria-describedby="cookie-message-text">
    <div class="cookie-message">
        <div class="cookie-text">
            <h2 class="h3 mt-0 mb-3" id="cookie-message-heading">
                Fortæl os om du accepterer cookies
            </h2>
            <p class="mt-0" id="cookie-message-text">
                Vi indsamler statistik ved hjælp af cookies. Alle indsamlede data
                anonymiseres. <a href="#">Læs mere om vores brug af cookies.</a>
            </p>
        </div>
        <div class="cookie-actions">
            <ul class="inline-list">
                <li>
                    <a href="#" (click)="acceptCookies()" class="button button-secondary">Accepter cookies</a>
                </li>
                <li>
                    <a href="#" (click)="rejectCookies()" class="ml-md-4 button button-secondary">Nej tak til
                        cookies</a>
                </li>
            </ul>
        </div>
    </div>
</div>