<app-cookie-banner/>
<app-svg-icon-definition />
<header class="header">
    <div class="portal-header portal-header-compact">
        <div class="container portal-header-inner">
            <a href="#" aria-label="Portalnavn" class="logo">
                <span class="d-none d-print-block">Portalnavn</span>
            </a>
            <button class="function-link button-menu-open js-menu-open ml-auto d-print-none" aria-haspopup="dialog">
                <svg class="icon-svg" focusable="false" aria-hidden="true">
                    <use xlink:href="#menu" />
                </svg>
                Menu
            </button>
            <div class="portal-info">
                <p class="user">
                    <span class="username">John Doe</span>
                </p>
                <button class="button button-secondary d-print-none">
                    Log af
                </button>
            </div>
        </div>
    </div>

    <div class="solution-header">
        <div class="container solution-header-inner">
            <div class="solution-heading">
                <a href="#">
                    En længere løsningstitel
                </a>
            </div>
    
            <div class="solution-info">
                <p><strong class="authority-name">Myndighedsnavn</strong></p>
                <p>Support: 12 34 56 78 <span
                        class="d-block d-lg-inline-block d-print-none mt-2 mt-lg-0"><span
                            class="d-none d-lg-inline-block mr-2">· </span><a href="#"
                            class="icon-link function-link">Kontakt<svg class="icon-svg" focusable="false" aria-hidden="true"><use xlink:href="#open-in-new"></use></svg></a></span>
                </p>
            </div>
        </div>
    </div>
    <div class="overlay"></div>
    <nav class="nav">
        <button class="function-link button-menu-close js-menu-close"
            aria-label="Luk menu"><svg class="icon-svg" focusable="false" aria-hidden="true"><use xlink:href="#close"></use></svg>
            Luk
        </button>

        <div class="navbar navbar-primary">
            <div class="navbar-inner container">
                <ul class="nav-primary">
                    <li>
                        <a href="#" class="nav-link">
                            <span>Første menupunkt</span>
                        </a>
                    </li>
                    <li class="current active">
                        <a href="#" class="nav-link" aria-current="page">
                            <span>Andet menupunkt</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="navbar">
            <div class="navbar-inner container navbar-context-actions">
                <div class="nav-actions">
                    <a href="#"
                        class="function-link"><svg class="icon-svg" focusable="false" aria-hidden="true"><use xlink:href="#print"></use></svg>Funktionsikon</a>
                </div>
            </div>
        </div>

        <div class="portal-info-mobile">
            <p class="user">
                <span class="username">John Doe</span>
            </p>
            <button class="button button-secondary d-print-none mt-3">
                Log af
            </button>
        </div>

        <div class="solution-info-mobile">
            <p class="mb-2"><strong class="authority-name">Myndighedsnavn</strong></p>
            <p>Support: 12 34 56 78 <span
                    class="d-block d-lg-inline-block d-print-none mt-2 mt-lg-0"><span
                        class="d-none d-lg-inline-block mr-2">· </span><a href="#"
                        class="icon-link function-link">Kontakt<svg class="icon-svg" focusable="false" aria-hidden="true"><use xlink:href="#open-in-new"></use></svg></a></span>
            </p>
        </div>
    </nav>
</header>